/** ./assets/css/themes/init.css */

@import "./light/_colors.css";
@import "./dark/_colors.css";

[data-scale="small"] {
    --spacing: 0.2rem;

    --text-xs: 0.625rem;
    --text-sm: 0.75rem;
    --text-base: 0.875rem;
    --text-lg: 1rem;
    --text-xl: 1.125rem;
    --text-2xl: 1.25rem;
    --text-3xl: 1.5rem;
    --text-4xl: 1.875rem;
    --text-5xl: 2.25rem;
    --text-6xl: 2.75rem;
    --text-7xl: 3.25rem;
    --text-8xl: 4rem;
    --text-9xl: 5rem;
}

[data-scale="medium"] {
    --spacing: 0.25rem;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 3rem;
    --text-6xl: 3.75rem;
    --text-7xl: 4.5rem;
    --text-8xl: 6rem;
    --text-9xl: 8rem;
}

[data-scale="large"] {
    --spacing: 0.3rem;

    --text-xs: 0.875rem;
    --text-sm: 1rem;
    --text-base: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 1.875rem;
    --text-3xl: 2.25rem;
    --text-4xl: 2.75rem;
    --text-5xl: 3.5rem;
    --text-6xl: 4.25rem;
    --text-7xl: 5rem;
    --text-8xl: 6.5rem;
    --text-9xl: 8.5rem;
}