/** ./assets/css/app.css */

@import "tailwindcss";

@import "./themes/init.css";

@import "./layouts/_danger.css";

@import "./partials/_header.css";
@import "./partials/_main.css";
@import "./partials/_footer.css";
@import "./partials/_project-search.css";
@import "./partials/_flashes.css";

@import "./components/init.css";
@import "./pages/init.css";

:root {
    --header-height: 50px;
}

@theme {
    --font-sans: 'Exo 2', sans-serif;
}

@layer base {

    html, body {
        @apply w-full h-dvh overflow-hidden text-base;
        background-color: var(--theme-background);
        color: var(--theme-foreground);
    }

}