/** ./assets/css/components/_Icon.css */

@layer component {

    .icon {
        @apply inline-flex items-center justify-center;
        color: inherit;
    }

    /* Spacing */

    .icon--spacing {
        @apply p-1;
    }

    /* Color */

    .icon--accent {
        color: var(--theme-accent);
    }

    .icon--muted-bg {
        @apply rounded-md;
        background-color: var(--theme-foreground-muted);
        color: var(--theme-background);
    }

    .icon--muted {
        color: var(--theme-foreground-muted);
    }

    .icon--danger {
        color: var(--theme-danger);
    }

    .icon--danger-bg {
        @apply rounded-md;
        background-color: var(--theme-danger);
        color: var(--theme-danger-foreground);
    }

    .icon--accent-bg {
        @apply rounded-md;
        background-color: var(--theme-accent);
        color: var(--theme-accent-foreground);
    }

    /* Sizing */

    .icon--xs svg {
        @apply w-4 h-4;
    }

    .icon--sm svg {
        @apply w-5 h-5;
    }

    .icon--base svg {
        @apply w-6 h-6;
    }

    .icon--lg svg {
        @apply w-8 h-8;
    }

    .icon--xl svg {
        @apply w-10 h-10;
    }

}